
.main-title {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
    color: white;
    font-family: 'NanumBarunGothic', sans-serif;

    animation: textup 1.5s normal forwards ease-in-out;
}

.main-title .logo-title { 
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -100%;
    width: 170px;
    height: auto;
}

section h2 {
    font-weight: 300;
}

@keyframes textup {
    0% {
        transform: translate(-50%, -25%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}


@media handheld, only screen and (max-width: 1024px) {
    h1, h2 {
        font-size: 24px;
    }
    .main-title * {
        text-align: left;
        padding: 0 18vw;
    }

}